@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

@font-face {
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
    font-weight: bold;
}

.page{
    /* initialise flex box and justify content row */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.upper_page{
    /* initialise flex box and justify content row */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* set backgground colour */
    background-color:#1F4482;
    align-items: center;
    ;

}

.image_container{
    /* background: linear-gradient(180deg, #1F4482 0%, rgba(255, 255, 255, 0.8) 100%);  */
    box-shadow: 0px 4px 200px #FFFFFF;
    backdrop-filter: blur(12.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px; 
}

.non_image_upper{
    /* initialise flex box and justify content row */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* set backgground colour */
    background-color:#1F4482;
    ;
}

.Algo_text{
    font-family: 'Rubik';
    color:#FFFFFF;
    font-size: 36px;
}

.content_text{
    font-family: 'DM Sans';
    font-style: normal;
    color:#FFFFFF;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_box{
    display: flex;
    type: "email"; 
    id: "email";
    name:  "email";
    font-family: 'Inter';
    font-style: normal;
    color: #888888;
    background-color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    width: 344px;
    height: 64px;
}

.register_button{
    display: flex;
    background: #282828;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
    width: 216px;
    height: 64px;

}

.free_text{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    align-items: center;
    text-align: center;
    width: 344px;
height: 61px;

    color: #FFFFFF;
}

.lower_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    
    font-size: 20px;
    
    /* or 32px */


    color: #FFFFFF;
    background: #282828;
    align-items: center;
}

.lower_left
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lower_right
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}